.TaskListItem {
  padding: 1.25em 0;
  border-bottom: 1px solid rgba(0,0,0,.05);
  opacity:.8;
}
.TaskListItem .columns {
  margin-left:0;
  margin-right:0;
}
.TaskListItem:hover {
  opacity:1;
}
.TaskListItem .subtitle {
  margin-bottom:.5em;
}
.TaskList {
  width:100%;
}
